@model E_commerce.ViewModel.UserViewModel

@{
    Layout = null;
}
<script type="text/javascript">

    $.fn.select2.defaults.set("dropdownParent", $('#select'));
    $(document).ready(function () {
        $("#childUsers").select2({
            ajax: {
                url: '/Admin/Users/GetUser',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: $.map(data.items, function (item) {
                            console.log(item);

                            return {
                                id: item.id,
                                text: item.text,
                            };
                        }),
                    };
                },
                cache: true,
                onError: function (err) {
                    console.log(err);
                }
            },
            minimumInputLength: 1,
            placeholder: "حدد المستخدم",
        });
         if ("@Model.user.Users" != "") {
            var newOption = new Option("@Model.user.Users?.Name", "@Model.user.Users?.Id", false, false);
            $('#childUsers').append(newOption).trigger('change');
        }
    });
</script>

<div class="row">
    <!-- Basic -->
    <div class="col-md-12">
        <form class="row g-3 needs-validation" asp-action="CreateOrEdit" asp-route-id="@Model.user.Id"
            onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="1" asp-for="@Model.user.UserStatusId" />
            <input type="hidden" asp-for="@Model.user.Id" name="id"/>
            <div class="form-group">
                <label class="form-label w-100" for="name-id" asp-for="@Model.user.Name"></label>
                <div class="input-group input-group-merge">
                    <input id="name-id" asp-for="@Model.user.Name" class="form-control"
                        placeholder="محمد احمد عبدالله" />
                </div>
                <span asp-validation-for="@Model.user.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="namber-id" asp-for="@Model.user.Phone.Number"></label>
                <div class="input-group input-group-merge">
                    <input type="tel" id="namber-id" asp-for="@Model.user.Phone.Number" class="form-control"
                        placeholder="777-000-000" aria-describedby="modalAddCard2" />
                </div>
                <span asp-validation-for="@Model.user.Phone.Number" class="text-danger"></span>
            </div>
            <!-- select2 -->
            <div class="form-group" id="select">
                <label class="form-label w-100" for="childUsers" asp-for="@Model.user.UsersId"></label>
                <div class="input-group input-group-merge">
                    <select id="childUsers" asp-for="@Model.user.UsersId" class="form-control" name="UsersId"
                        style="width: 100%;" data-placeholder="حدد المستخدم" aria-describedby="modalAddCard2">
                    </select>
                </div>
                <span asp-validation-for="@Model.user.UsersId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="form-label w-100" for="modalAddCard" asp-for="@Model.user.Address"></label>
                <div class="input-group input-group-merge">
                    <input id="modalAddCard" asp-for="@Model.user.Address" class="form-control" type="text"
                        placeholder="صنعاء - بني الحارث - قرية النجيبة" aria-describedby="modalAddCard2" />
                </div>
                <span asp-validation-for="@Model.user.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label w-100" for="modalAddCard" asp-for="@Model.user.Password"></label>
                <div class="input-group input-group-merge">
                    <input id="modalAddCard" asp-for="@Model.user.Password" class="form-control" type="text"
                        placeholder="Test@124ot4mm" aria-describedby="modalAddCard2" />
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="modalPermission">الصلاحيات</label>
                <select multiple id="modalPermission" name="modalPermission" class="form-select"
                    data-allow-clear="true">
                    <option value="">حدد صلاحية المستخدم</option>
                    <option value="Australia">مندوب</option>
                    <option value="Bangladesh">اضافة منتجات المخازن</option>
                    <option value="Belarus">ادارة العملاء</option>
                    <option value="Brazil">الدعم</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="@Model.user.Place.Name"></label>
                <select id="modalPlace" asp-for="@Model.user.PlaceId" class="form-select" data-allow-clear="true"
                    asp-items="@(new SelectList(Model.places, "Id", "Name"))"></select>
            </div>
            <div class="form-group">
                <div class="d-grid gap-2">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>